---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('Apr 04 2025')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		To be determined...
	</p>
</Layout>
